@model IEnumerable<RentaCar.Models.Rental>

@{
    ViewBag.Title = "Index";
}

<h1 class="mt-5">Rentals</h1>

<p class="h4 mt-3">
    @Html.ActionLink("Add Rental", "Create")
</p>

<table class="table table-striped mt-5 ">
    <tr class="table-dark fs-4">
        <th>
            @Html.DisplayNameFor(model => model.DateRented)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReturned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="light fs-5">
            <td>
                @Html.DisplayFor(modelItem => item.DateRented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RentalId }, new { @class = "nav-item text-decoration-none text-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.RentalId }, new { @class = "nav-item text-decoration-none text-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RentalId }, new { @class = "nav-item text-decoration-none text-danger" })
            </td>
        </tr>
    }

</table>
